<h1>Project</h1>

<h3>My project info</h3>
<p>
    <b>Project Name:</b> <%= @project.name %> <br />
    <b>Description:</b> <%= @project.description %> <br />
    <b>Funding Goal:</b> <%= @project.funding_goal %> <br />
    <b>Deadline:</b> <%= @project.deadline %>
</p>